<ion-view view-title="设置">
    <ion-nav-bar>
        <ion-nav-back-button class="button button-assertive" ng-click="goBack()">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="setting">
        <div class="list">
            <div class="item item-divider">
            </div>
            <div class="section">
                <div class="item item-toggle">
                    <div class="title">
                        消息推送
                    </div>
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle">
                            	
                            </div>
                        </div>
                    </label>
                </div>
                <div class="item">
                    <div class="title">
                        关于软件
                    </div>
                    <img class="right-arrow" ng-src="img/arrow-right.png">
                </div>
                <div class="item">
                    <div class="title">
                        公司信息
                    </div>
                    <img class="right-arrow" ng-src="img/arrow-right.png">
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
