<ion-view view-title="修改密码">
    <ion-nav-bar>
        <ion-nav-back-button class="button button-assertive" ng-click="goBack()">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="register padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-change="passwordChange()" ng-model="password.text" placeholder="密码">
                <button class="icon ion-star"></button>
            </label>
            <div>{{hint.password}}
                <br>
            </div>
            <p></p>
            <label class="item item-input">
                <input type="text" ng-change="passwordChange()" ng-model="confirm.text" placeholder="确认密码">
                <button class="icon ion-star"></button>
            </label>
            <div>{{hint.confirm}}
                <br>
            </div>
        </div>
        <div class="button button-block button-xcj" id="changePwdBtn" ng-click="changePwdClick()">修改密码</div>
    </ion-content>
</ion-view>
