/* Empty. Add your own CSS if you like */


/*.slider {
    width: 100%;
}*/


/*.slider-slide {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}*/

.bar .back-button.hide,
.bar .buttons .hide,
.bar .right-buttons .hide {
    display: inline !important;
}

.title {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    vertical-align: middle;
    color: black;
    text-align: left;
    font-size: 20px;
}

.right-arrow {
    float: right;
    height: 20px;
    margin: 15px 10px 15px 0px;
    padding: 0;
}

.content {
    float: right;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    color: gray;
    text-align: right;
    font-size: 20px;
}

.mainTitle {
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
}

.subTitle {
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 10px;
}
.rightContent {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 10px;
}

.home .box {
    width: 100%;
}

.home .box img, .actImg {
    width: 100%
}

.btn_func {
    float: left;
    width: 50% !important;
    text-align: center;
}

.btn_func img {
    padding-top: 10px;
    width: 50px;
}

.search {
    background-color: #fff;
}

.button-xcj {
    margin: 10px;
    background-color: rgb(196, 122, 106) !important;
    color: white !important;
}

.padding .button-xcj {
    padding: 0px !important;
    margin: 0px !important;
}

.list {
    padding: 0;
}

.item-divider {
    min-height: 20px;
}

.buy .item,
.user .item,
.userinfo .item,
.account .item,
.message .item,
.setting .item,
.report .item {
    padding: 0;
    margin: 0;
    border-width: 0;
}

.buy .package .button {
    padding: 0;
    float: left;
    width: 33.3%;
}

.buy .package .price {
    width: 100%;
    text-align: center;
    font-size: 130%;
    transform: translateY(45%);
}

.buy .package .last {
    text-align: =center;
    font-size: 70%;
}

.buy .set button {
    float: right;
    margin: 10px 10px 10px 0px;
    padding: 0px;
    height: 30px;
    width: 30px;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;
}

.buy .set input {
    text-align: center;
    float: right;
    margin: 10px 10px 10px 0px;
    padding: 0px;
    height: 30px;
    width: 50px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
}

.section .item + .item {
    border-top-width: 1px;
    border-top-color: gray;
    border-top-style: solid;
}

.buy .payment .payImg {
    float: left;
    width: 30px;
    margin: 10px;
    padding: 0;
}

.buy .payment .selectImg {
    float: right;
    height: 20px;
    margin: 15px 10px;
    padding: 0;
}

.buy #totalPrice {
    float: right;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    color: red;
    text-align: right;
    font-size: 25px;
}

.user .userinfo .title {
    height: 100px !important;
    line-height: 100px !important;
}

.user .userinfo .right-arrow {
    margin: 40px 10px !important;
}