<ion-view view-title="购买">
    <ion-content class="buy padding">
        <div class="row">
            <button class="col col-33">
                <p>123345</p>
                <p>32132131231231</p>
            </button>
            <button class="col col-33">
                <p>123345</p>
                <p>32132131231231</p>
            </button>
            <button class="col col-33">
                <p>123345</p>
                <p>32132131231231</p>
            </button>
        </div>
    </ion-content>
</ion-view>
